/*! CSS Used from: Embedded */
*,*::before,*::after{box-sizing:inherit;}
/*! CSS Used from: https://cdn.shopify.com/s/files/1/0329/7663/3992/t/37/assets/base.css?v=19666067365360246481669935703 ; media=all */
@media all{
.page-width{max-width:var(--page-width);margin:0 auto;padding:0 1.5rem;}
@media screen and (min-width: 750px){
.page-width{padding:0 5rem;}
.page-width--narrow{padding:0 9rem;}
}
@media screen and (min-width: 990px){
.page-width--narrow{max-width:72.6rem;padding:0;}
}
::selection{background-color:rgba(var(--color-foreground),.2);}
h1{font-family:var(--font-heading-family);font-style:var(--font-heading-style);font-weight:var(--font-heading-weight);letter-spacing:calc(var(--font-heading-scale) * .06rem);color:rgb(var(--color-foreground));line-height:calc(1 + .3/max(1,var(--font-heading-scale)));word-break:break-word;}
h1{font-size:calc(var(--font-heading-scale) * 3rem);}
@media only screen and (min-width: 750px){
h1{font-size:calc(var(--font-heading-scale) * 4rem);}
}
a:empty,div:empty,p:empty,h1:empty{display:none;}
*:focus{outline:0;box-shadow:none;}
}
/*! CSS Used from: https://cdn.shopify.com/s/files/1/0329/7663/3992/t/37/assets/component-rte.css?v=69919436638515329781669935703 ; media=all */
@media all{
.rte:after{clear:both;content:"";display:block;}
.rte img{height:auto;max-width:100%;border:var(--media-border-width) solid rgba(var(--color-foreground),var(--media-border-opacity));border-radius:var(--media-radius);box-shadow:var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius) rgba(var(--color-shadow),var(--media-shadow-opacity));margin-bottom:var(--media-shadow-vertical-offset);}
.rte a{color:rgba(var(--color-link),var(--alpha-link));text-underline-offset:.3rem;text-decoration-thickness:.1rem;transition:text-decoration-thickness var(--duration-short) ease;}
.rte a:hover{color:rgb(var(--color-link));text-decoration-thickness:.2rem;}
}
/*! CSS Used from: Embedded */
.section-template--15320092508296__main-padding{padding-top:0px;padding-bottom:0px;}
@media screen and (min-width: 750px){
.section-template--15320092508296__main-padding{padding-top:0px;padding-bottom:0px;}
}
/*! CSS Used from: https://cdn.shopify.com/s/files/1/0329/7663/3992/t/37/assets/component-rte.css?v=69919436638515329781669935703 ; media=all */
@media all{
.rte:after{clear:both;content:"";display:block;}
.rte img{height:auto;max-width:100%;border:var(--media-border-width) solid rgba(var(--color-foreground),var(--media-border-opacity));border-radius:var(--media-radius);box-shadow:var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius) rgba(var(--color-shadow),var(--media-shadow-opacity));margin-bottom:var(--media-shadow-vertical-offset);}
.rte a{color:rgba(var(--color-link),var(--alpha-link));text-underline-offset:.3rem;text-decoration-thickness:.1rem;transition:text-decoration-thickness var(--duration-short) ease;}
.rte a:hover{color:rgb(var(--color-link));text-decoration-thickness:.2rem;}
}

body{
    color: black;
}

.tText{
    padding-right: 2rem;
    text-align: justify;
   
}

.backgroundimgCueroNegro{
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url(../../landing/assets/img/cueroNegro.jpg) 
    center center/cover;
}

.imgQuienes{
    margin-top: 5rem;
}

.divContainer{
    height: 100%
}

/*<!--Carrusel-->*/
.carrusel-container {
    width: 80%;
    height: 50%;
    overflow: hidden;
    margin-left: 3rem;
  }
  
  .carrusel {
    display: flex;
    width: calc(31.25rem * 3);
    animation: carrusel 10s infinite;
  }
  
  .carrusel img {
    width: 31.25rem;
    height: 18.75rem;
    padding: auto;
  }
  
  @keyframes carrusel {
    0% {
      transform: translateX(0);
    }
    33% {
      transform: translateX(-31.25rem);
    }
    66% {
      transform: translateX(-62.5rem);
    }
    100% {
      transform: translateX(0);
    }
  }

  .imgCarrusel{
    padding: .5rem;
  }

  .carrusel-space{
    padding-bottom: 10rem;
  }
